/*GENEAL STRUCTURE*/
html{
	margin-top:0!important;
	overflow-y: hidden !important;
}
html.wait, html.wait * { cursor: wait !important; }
body{
	overflow: hidden;
}
body.body_blank.admin-bar{
	top:0px!important;
}
#wpadminbar{
	display:none;
}

#wrapper{
	max-width:100%!important;
}
#main{
	padding:0!important;
}
html, body, #wrapper, #main, .fusion-row, #content, .page, .post-content, #yourForm, .page-table, .page-row, .main, #map1{
	height: 100%;
}
#mapid{
	width:100%;
	height:100vh;
	/*height:100%;*/
}


/* */
#mapid > div.leaflet-control-container > div.leaflet-bottom.leaflet-left{
	max-width:100%;
	left: 50%;
	transform: translate(-50%, 0%);
}

.leaflet-bar-timecontrol{
	display: flex;
    padding: .375rem .75rem;
    font-size: 1rem;
    /*max-width: calc(100% - 20px);*/
    width: 80vw;
    max-width: 1200px;
    margin-right: 10px
}
.leaflet-bar-timecontrol .leaflet-control-timecontrol{
	border:none;
}
#mapid > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div > div.leaflet-control-timecontrol.timecontrol-slider.timecontrol-dateslider{
	flex:1;
}
.leaflet-bar-timecontrol .timecontrol-dateslider .slider{
    width: 100%;
    margin: auto;
}
.timecontrol-slider .slider{
	    height: 17px;
}
.leaflet-touch .timecontrol-slider .slider{
	margin-top: 5px
}
#mapid > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div > div.leaflet-control-timecontrol.timecontrol-slider.timecontrol-speed > span{
	width: 70px;
}
#mapid > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div > a.leaflet-control-timecontrol.timecontrol-date{
    clear: none;
    float: left;
}

/* */
#canvas{
	width: 100%;
    max-width: 247px;
}
.form-group{margin-bottom: 0.5rem;}
.form-control{
	margin-bottom: 0.5rem;
	height: auto;
}
#canvas-title{
    margin: 0;
}
#canvas-range{
	margin: 0;
    margin-top: -5px;
    font-size: small;
}
#canvas-max{float: right;}
#learnmore-div{
	    height: fit-content;
}
#mapid > div.leaflet-control-container > div.leaflet-top.leaflet-right{
	max-width:247px;
}
#mapid > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div.leaflet-bar.leaflet-bar-horizontal.leaflet-bar-timecontrol.leaflet-control{
	z-index: 0;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
}
.slider{max-width: 100%;}



a[aria-expanded=true] .fa-chevron-up {
   display: none;
}
a[aria-expanded=false] .fa-chevron-down {
   display: none;
}
#mapid > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div.timeseries-div.leaflet-control{
	    /* z-index: -1; */
    border-bottom: none;
	    margin-bottom: -3px;
	        
}
#collapseExample{
	border-bottom: none;
	border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#btn-timeserie-toggle{
    margin-bottom: -2px;
    border: 2px solid rgba(0,0,0,0.2);
    border-bottom: none;
        border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: fit-content;
    margin-right: 10px;
        color: initial;
}
#myDiv{
	height: 300px;
}

#new-ts{
	position: absolute;
    right: 120px;
    top: 43px;
}
#loading {
    display: none;
    position: absolute;
}