html, body {
	height: 100%;
	margin: 0px;
}

#select-radar{
	position: absolute;
	z-index: 10;
	padding: 5px 10px;
	/*left: 50%;
    transform: translate(-50%, 0);*/
}
#myDiv{
	width:100%;
	height:100%;
}
#status{
	padding-left: 10px;
}
.input-group-addon {
    padding: 6px 12px;
    color: #555;
    background-color: #eee;
    border: 1px solid #ced4da;
}
#range-from, #range-to{
	width: 84px;
    text-align: right;
}
.input-group {
	padding-left: 5px;
}
label{
	margin: 0 10px;
}
#map{
	height: 80vh;
    width: 100%;
}